Agustin Lopez

# New Section

In [868]:
#Brian Conway
#Agustine Lopez

import pandas as pd
import re

#initilize series 
name=[]
gender=[]
SSN=[]
age=[]
BirthAddress=[]
CurrentResidence=[]
CurrentState=[]
ResidenceLatitude=[]
ResidenceLongitude= []
S1answer=[]
S2answer=[]
S3answer =[]

In [869]:
 #Used a smaller version of the data set you gave us, google collab can only handle so many lines before its start cutting them off

read_file =  open("/content/sample_data/short_raw_data.txt", "r")

 #String value for names to make sure Titles don't delete original name
ignore_cases = 'Dr Mr Mrs Ms'

for line in read_file:
  # String is passed through 11 regex to extract needed data
#Variable names are what is extracted
  current_name = re.search('The patient is (.*?)\.', line)
  current_gender = re.search('(?:^|\W)She|He(?:$|\W)', line)
  current_birth_year = re.search('[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]', line)
  birth_address = re.search('\d at (.*?)\(' , line)
  current_address = re.search('currently resides at (.*?)\(', line )
  current_LongitudeAndLatitude = re.search('[A-Z][A-Z] [\d][\d][\d][\d][\d] \((.*?)\)', line)
  current_LongitudeAndLatitude = re.search('^(?=.*currently)(?=.*lat).*$', line)
  patience_SSN =re.search('\d\d\d-\d\d-\d\d\d\d',line)
  S1_answer = re.search('with my life\': (.*)', line)
  S2_answer = re.search('in good health\': (.*)', line)
  S3_answer = re.search('interactions in my community\': (.*)', line)


  # checking to see if its empty or not
  if isinstance(current_name, re.Match):
    #This if statement checks for an error with the regex search where it only reads DR., MR/S, MS 
    if current_name.group(1) in ignore_cases:
      #Ms. not being caust for some reason???
      current_name = re.search('The patient is (?:Mr\.|Mrs\.|Dr\.|Ms\.) (.*?)\.', line)
      # print(current_name.group(1))
      name.append(current_name.group(1))
    else:
      name.append(current_name.group(1))
      # print(current_name.group(1))


  # #Get the current gender of the patient
  if isinstance(current_gender, re.Match):
    if "He" in current_gender.group(0):
      gender.append("Male")
    else:
      gender.append("Female")

  # Get the current age of the patient
  if isinstance(current_birth_year, re.Match):
    birth_year = int(current_birth_year.group(0)[0:4])
    age.append(2021 - current_year)


  #Get the birth address of the patient
  if isinstance(birth_address, re.Match):
    BirthAddress.append(birth_address.group(1))

  #Get the complete address and the current state and 
  if isinstance(current_address, re.Match):
    CurrentResidence.append(current_address.group(1))
    Current_State = re.search('[A-Z][A-Z]', line)
    CurrentState.append(Current_State.group(0))

  #Get The patients current longitude and latitude
  if isinstance(current_LongitudeAndLatitude, re.Match):
    current_Latitude = re.search('lat: (.*?)\,', current_LongitudeAndLatitude.group(0))
    ResidenceLatitude.append(current_Latitude.group(1))

    current_longitude = re.search('long: (.*)', current_LongitudeAndLatitude.group(0))
    ResidenceLongitude.append(current_longitude.group(1))

  #Get patience Social security number
  if isinstance(patience_SSN, re.Match):
    SSN.append(patience_SSN.group(0))

  #look for the asnwers for S1 for this patient
  if isinstance(S1_answer, re.Match):
    S1answer.append(S1_answer.group(1))
  
  #look for the asnwers for S1 for this patient
  if isinstance(S2_answer, re.Match):
    S2answer.append(S2_answer.group(1))

  #look for the asnwers for S1 for this patient
  if isinstance(S3_answer, re.Match):
    S3answer.append(S3_answer.group(1))
#Checkin

In [879]:
lab_Data = {'Name':name, 'Gender':gender, 'Age':age, 'SSN':SSN, 'BirthAddress':BirthAddress, 'CurrentResidence': CurrentResidence, 'CurrentState': CurrentState, 'Latitude':ResidenceLatitude, 'Longitude':ResidenceLongitude, 'S1':S1answer, 'S2':S2answer,'S3':S3answer}

In [886]:
lab3_df = pd.DataFrame(data=lab_Data)

In [888]:
lab3_df

                   Name  Gender  ...                 S2                 S3
0           Tonya Baker  Female  ...  STRONGLY DISAGREE           DISAGREE
1            Amy Taylor  Female  ...     STRONGLY AGREE           DISAGREE
2         Phillip Ramos    Male  ...  STRONGLY DISAGREE     STRONGLY AGREE
3           Sarah Smith  Female  ...           DISAGREE           DISAGREE
4            Kevin Cole    Male  ...           DISAGREE  STRONGLY DISAGREE
..                  ...     ...  ...                ...                ...
107  Caroline Carpenter  Female  ...  STRONGLY DISAGREE     STRONGLY AGREE
108      Cynthia Taylor  Female  ...           DISAGREE           DISAGREE
109         Kristi Hill  Female  ...              AGREE              AGREE
110     Michael Ellison    Male  ...     STRONGLY AGREE           DISAGREE
111       Marcus Medina    Male  ...              AGREE           DISAGREE

[112 rows x 12 columns]

In [889]:
lab3_df.to_csv('AgustinAndBrainLab3', index=False)

In [890]:
pd.read_csv('/content/AgustinAndBrainLab3')

                   Name  Gender  ...                 S2                 S3
0           Tonya Baker  Female  ...  STRONGLY DISAGREE           DISAGREE
1            Amy Taylor  Female  ...     STRONGLY AGREE           DISAGREE
2         Phillip Ramos    Male  ...  STRONGLY DISAGREE     STRONGLY AGREE
3           Sarah Smith  Female  ...           DISAGREE           DISAGREE
4            Kevin Cole    Male  ...           DISAGREE  STRONGLY DISAGREE
..                  ...     ...  ...                ...                ...
107  Caroline Carpenter  Female  ...  STRONGLY DISAGREE     STRONGLY AGREE
108      Cynthia Taylor  Female  ...           DISAGREE           DISAGREE
109         Kristi Hill  Female  ...              AGREE              AGREE
110     Michael Ellison    Male  ...     STRONGLY AGREE           DISAGREE
111       Marcus Medina    Male  ...              AGREE           DISAGREE

[112 rows x 12 columns]