# Assignment 5 Text Mining

## Part 1 - Dates Extraction Using Regular Expressions

In part 1, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to extract all of the different date variants encoded in this dataset.

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

*This function should return a Series of all the dates in dates.txt*

In [2]:
#Brian Conway
#CS 411 assignment 5
#Prof Kamile Samara, Spring 2021


import pandas as pd


doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [36]:
import re #Python built in regex module

#
    
    # Your code here
import pandas as pd


doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

#df = pd.Series(doc)

def date_extractor(foo):
    txt=str(foo)
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

#Pattern will find the following formats: ('|' character is a logical OR)
#yyyy|mm/yyyy|mm/dd/yy|mm-dd-yy|word 
    pattern="\d{4}|[0-9]+[/]+[0-9][0-9][0-9][0-9]|[0-9]+[\/]+[0-9]+[\/]+[0-9]|[0-9 0-9]+[-]+[0-9 0-9]+[-]+\d{2}|[A-Z][a-z][a-z]+[ ][0-9]"
    dates= re.findall(pattern, txt)

#Now do some verification. Get rid of dates in format "non-month word number" and "4 digit invalid year"
    for ele in dates:
    #if the element is a 4 digit number that is not a year we've lived yet get rid of it.
        if(len(ele) == 4) and (int(ele)>2022):
            dates.remove(ele)
        
        #if the first three digits are letters and those letters aren't the start of a month, delete it.
        if('-' or '\/' not in ele[:3]) and (ele[:3] not in months):
            dates.remove(ele)

#print(dates)        
    return dates # Return your answer
    
proof= date_extractor(doc)
print(proof)

['6/18/8', '9/27/7', 'Per 7', '10/24/8', '3/7/8', '5/11/8', '8/01/9', '5/24/1', '1/25/2', '10/13/1', '5/21/7', '10/21/7', '9/02/7', '10/24/8', '7/20/7', '4/12/8', '06/20/9', '3/15/8', '5/24/8', '7/27/1', '1-14-81', '8/14/9', '8/16/8', '2/15/1', '7/15/9', '06/12/9', '2/28/7', '5/24/9', '12/01/7', '12/5/2', '08/20/1', '8/06/8', '02/22/9', '6/28/8', '9920', '7/6/9', '11/3/1', 'Lithium 0', '7/11/7', '9/36/3', '09/19/8', '9/6/7', '01/05/1', '10/04/9', '8/04/7', '09/14/2', '8/09/1', '8/9/9', '8/26/8', '10/13/9', '04/08/2', '4/11/1', '3/31/9', '011/14/8', '10/05/9', '07/18/2', '9/22/8', '2/24/7', '2/11/2', '8/22/8', '6/17/9', '10/16/8', '4/05/8', '6/20/7', '07/17/9', '12/22/9', '10/02/9', '11/05/9', '5/04/7', 'Jan 2', 'Sep 2', 'May 1', 'June 2', 'May 1', 'Oct 1', 'Oct 1', 'Nov 2', 'June 1', 'Jan 1', 'Oct 1', 'February 1', 'Feb 1', 'Feb 1', 'Oct 2', 'Feb 1', 'May 2', 'Jan 1', 'Oct 1', 'Oct 2', 'Oct 1', 'Nov 2', 'May 2', 'Feb 1', 'Sep 1', 'March 1', 'June 1', 'Sep 2', 'Jan 1', 'Mar 1', 'Oct 1', 'May 1', 'Feb 1', 'Aug 2', 'May 2', 'Oct 2', 'Oct 2', 'Mar 1', 'Jan 1', 'Oct 1', 'August 1', 'Nov 1', 'Oct 1', 'Oct 1', 'Oct 1', 'Jan 2', 'Oct 1', 'Aug 1', 'Oct 2', 'Dec 1', 'Oct 1', 'May 2', 'Jan 1', 'Jun 1', 'Dec 1', 'Dec 1', 'August 1', 'June 1', 'May 2', 'Nov 2', 'Aug 1', 'Oct 2', 'Jan 2', 'March 2', 'Oct 1', 'Aug 2', 'Nov 1', 'May 1', 'Jan 1', 'April 1', 'May 3', 'Feb 1', 'February 1', 'Jan 2', 'July 2', 'December 2', 'May 1', 'September 0', '1976', 'Jan 2', 'October 2', 'August 1', 'September 0', 'July 2', '1983', 'August 1', 'April 1', 'July 2', 'July 1', '9079', 'August 1', 'Nov 1', 'June 1', 'May 1', 'Dec 1', 'June 2', 'Oct 1', 'May 1', 'October 1', 'July 2', '9079', 'June 1', 'January 0', '2011', 'September 1', 'June 2', 'May 1', 'May 2', 'July 1', 'Jul 2', 'Oct 2', 'Wellbutrin 1', 'May 1', 'February 1', 'January 1', 'Feb 1', '2011', 'May 2', 'Nov 2', 'Sep 2', '2013', 'November 1', 'July 1', 'May 1', 'July 1', 'April 1', 'May 2', 'December 1', 'Jan 2', 'Feb 2', 'August 1', 'Oct 2', 'Aug 1', 'Sep 2', 'Apr 1', 'Nov 1', 'February 2', 'Oct 1', 'Jun 2', 'September 1', 'June 2', 'April 1', 'September 1', 'Oct 1', 'Dec 2', 'July 1', 'Ely 7', 'August 2', 'Feb 1', 'Zoloft 1', '2010', 'April 1', 'September 1', 'April 1', 'Apr 2', 'September 1', 'Sep 2', 'July 1', 'Aug 2', 'May 2', 'Feb 1', 'Jan 1', 'Sep 1', 'January 2', 'Mar 2', 'August 2', 'Sep 2', 'December 2', 'Jan 2', 'November 1', 'September 2', 'February 1', 'March 1', 'Aug 1', 'Jan 2', 'Janaury 1', 'March 1', 'January 1', 'Dec 1', 'November 2', 'January 1', 'Mar 2', 'Feb 2', 'July 2', 'Feb 1', 'April 1', 'Oct 1', 'February 1', 'Decemeber 1', 'January 2', 'Jun 1', 'May 2', 'Jan 1', 'July 1', 'November 2', 'October 1', 'March 1', 'October 1', 'Jun 2', 'October 1', 'April 1', '2000', 'April 1', 'December 1', 'June 1', 'November 1', 'July 1', 'February 1', 'Take 1', 'March 1', 'Dec 2', '2005', 'May 1', 'Nov 2', 'March 1', '6/2005', '9/2005', '12/2005', '5/2004', '3/1986', '3/1993', '9/2003', '1/1983', '12/2008', '8/2003', '11/2010', '7/1997', '9/2001', '1/1978', '1/2009', '8/1989', '06/1973', '6/2001', '8/2009', '1/2014', '12/2012', '7/1989', '11/1998', '2/2009', '4/2007', '4/2012', '2/1977', '2/1983', '1/1992', '4/1974', '10/1986', '12/1994', '10/2010', '01/2007', '03/1990', '4/2004', 'Hospital 7', '8/2000', '1975', '3/2000', '12/1986', '7/2004', '5/2016', '11/1982', '4/2013', '5/2006', '12/1989', '11/1986', 'Since 1', '6/1989', '9/1992', '7/1981', '4/2002', '7/1985', '8/2002', '12/2004', '7/1982', '1984', '2000', '1982', 'Since 1', '2012', '1991', '2014', '1976', '2011', 'Disorders 3', '2003', '1983', '2010', '1975', '1972', '1989', '1993', '2013', '1990', '1995', '2004', '1973', '1977', '2007', '1986', '2002', '2006', '2005']

## Part 2 - Analyzing Moby Dick

In part 2 of this assignment you will use nltk to explore the Herman Melville novel Moby Dick.

In [63]:
import nltk
import pandas as pd
import numpy as np

#nltk.download('punkt')
# If you would like to work with the raw text you can use 'moby_raw'
with open('moby.txt', 'r') as f:
    moby_raw = f.read()
    
# If you would like to work with the novel in nltk.Text format you can use 'text1'
moby_tokens = nltk.word_tokenize(moby_raw)
text1 = nltk.Text(moby_tokens)

### Example 1

How many tokens (words and punctuation symbols) are in text1?

*This function should return an integer.*

In [42]:
def example_one():
    
    return len(nltk.word_tokenize(moby_raw)) # or alternatively len(text1)

example_one()

255038

### Example 2

How many unique tokens (unique words and punctuation) does text1 have?

*This function should return an integer.*

In [20]:
def example_two():
    
    return len(set(nltk.word_tokenize(moby_raw))) # or alternatively len(set(text1))

example_two()

20754

### Example 3

After lemmatizing the verbs, how many unique tokens does text1 have?

*This function should return an integer.*

In [21]:
from nltk.stem import WordNetLemmatizer

def example_three():

    lemmatizer = WordNetLemmatizer()
    lemmatized = [lemmatizer.lemmatize(w,'v') for w in text1]

    return len(set(lemmatized))

example_three()

16899

### Question 1

What is the lexical diversity of the given text input? (i.e. ratio of unique tokens to the total number of tokens)

*This function should return a float.*

In [89]:
def answer_one():
    
    #takes the number of unique tokens
    x=len(set(nltk.word_tokenize(moby_raw)))
    #takes the number of all tokens
    y=len(nltk.word_tokenize(moby_raw))
    #divides it
    z=x/y
    #returns it
    return z# Your answer here

answer_one()

0.08132905684643073

### Question 2

What percentage of tokens is 'whale'or 'Whale'?

*This function should return a float.*

In [53]:
from collections import Counter

def answer_two():
    #counts instance of 'whale'
    x=text1.count('whale')
    #adds in instances of 'Whale'
    x=(x+text1.count('Whale'))*100#number of time the word whale shows up
    #takes the length of all token
    y=len(nltk.word_tokenize(moby_raw))
    #instances of whale+Whale/total
    z=x/y
    
    return z # Your answer here

answer_two()

0.4124875508747716

### Question 3

What are the 20 most frequently occurring (unique) tokens in the text? What is their frequency?

*This function should return a list of 20 tuples where each tuple is of the form `(token, frequency)`. The list should be sorted in descending order of frequency.*

In [67]:
def answer_three():
    #makes a frequency distribution of the tokens and takes the 20 most common
    fdist = nltk.FreqDist(nltk.word_tokenize(moby_raw)).most_common(20)
    

    #returns the 20 most common
    return fdist# Your answer here

answer_three()

[(',', 19204),
 ('the', 13715),
 ('.', 7306),
 ('of', 6513),
 ('and', 6010),
 ('a', 4545),
 ('to', 4515),
 (';', 4173),
 ('in', 3908),
 ('that', 2978),
 ('his', 2459),
 ('it', 2196),
 ('I', 2113),
 ('!', 1767),
 ('is', 1722),
 ('--', 1713),
 ('with', 1659),
 ('he', 1658),
 ('was', 1639),
 ('as', 1620)]

### Question 4

What tokens have a length of greater than 5 and frequency of more than 150?

*This function should return an alphabetically sorted list of the tokens that match the above constraints. To sort your list, use `sorted()`*

In [83]:
def answer_four():
    
    #makes a frequency distribution of the tokens
    fdist = nltk.FreqDist(nltk.word_tokenize(moby_raw))

    #filters down to ones longer than 5 characters
    filterdDist = dict([(m, n) for m, n in fdist.items() if len(m) > 5])
    #filters down to ones that appear at least 150 times
    filterdDistB = dict([(m, n) for m, n in filterdDist.items() if n > 150])
    #makes them into a list we can sort and sorts it
    filterd=list(filterdDistB)
    filterdList = sorted(filterd)
    
    #returns the list
    return filterdList# Your answer here

answer_four()

20742
15788
14

['Captain',
 'Pequod',
 'Queequeg',
 'Starbuck',
 'almost',
 'before',
 'himself',
 'little',
 'seemed',
 'should',
 'though',
 'through',
 'whales',
 'without']

### Question 5

Find the longest word in text1 and that word's length.

*This function should return a tuple `(longest_word, length)`.*

In [86]:
def answer_five():
    #finds the longest word in the book
    Longest_word=''
    for word in set(text1):
        if (len(word)>len(Longest_word)):
            Longest_word=word
            
    #Takes the length of the longest word
    length=len(Longest_word)
    #Returns the word and its length
    return Longest_word, length# Your answer here

answer_five()

("twelve-o'clock-at-night", 23)

### Question 6

What unique words have a frequency of more than 2000? What is their frequency?

"Hint:  you may want to use `isalpha()` to check if the token is a word and not punctuation."

*This function should return a list of tuples of the form `(frequency, word)` sorted in descending order of frequency.*

In [88]:
def answer_six():
    #tokenize the sentence
    fdist = nltk.FreqDist(nltk.word_tokenize(moby_raw))
    #Filter down to tokens that appear more than 2000 times
    filterdDist = dict([(m, n) for m, n in fdist.items() if n > 2000])
    #Filters down to tokens that appear more than 2000 times that are words
    filterdDistB = dict([(m, n) for m, n in filterdDist.items() if m.isalpha()])

    #returns what we want
    return filterdDistB# Your answer here

answer_six()

{'a': 4545,
 'to': 4515,
 'in': 3908,
 'and': 6010,
 'I': 2113,
 'his': 2459,
 'the': 13715,
 'of': 6513,
 'it': 2196,
 'that': 2978}

### Question 7

What is the average number of tokens per sentence?

*This function should return a float.*

In [91]:
def answer_seven():
    #Every word is part of a sentence. 
    #The only valid sentence endings in english are . ! and ? 
    #The the number of sentences is equal to those. The total number of tokens divided by that is the average number per sentence.
    x=text1.count('.')
    x=x+text1.count('!')
    x=x+x+text1.count('?')
    y=len(nltk.word_tokenize(moby_raw))
    z=y/x
    
    return z # Your answer here

answer_seven()

13.317911227154047

### Question 8

What are the 5 most frequent parts of speech in this text? What is their frequency?

*This function should return a list of tuples of the form `(part_of_speech, frequency)` sorted in descending order of frequency.*

In [98]:
def answer_eight():
    #tags all the words in text1 aka moby dick using the built in universal tagset
    parts_tagged=nltk.pos_tag(text1, tagset='universal')
    #makes a frequency distribution of those tags and takes the top 5
    tag_fd = nltk.FreqDist(tag for (word, tag) in parts_tagged).most_common(5)

    #returns frequency distribution
    return tag_fd # Your answer here

answer_eight()

[('NOUN', 52957),
 ('.', 39082),
 ('VERB', 35910),
 ('ADP', 28663),
 ('DET', 28043)]